body {
  background-size: cover;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

main{
  background-image: url(https://www.shutterstock.com/image-photo/blue-eyed-lucy-ball-python-600nw-2182870505.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  backdrop-filter: brightness(0.5);
  background-position-y: -164px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

label {
  text-transform: capitalize;
  font-weight: bold;
}

.input-wrapper {
  display: "flex";
  flex-direction: "column";
}

.input {
  margin-bottom: 10px;
  margin-top: 5px;
  width: 100%;
}

.established {
  font-style: italic;
}

h1,
h2{
  text-align: center;
}

.wrapper {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 10px
}

.title {
  color: green;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1,
h2 {
  font-family: Impact, serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor,
.dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

/* a:hover {
  color: brown;
} */

a:active {
  color: brown;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #ffffff, #cdcdcd);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 10px 0 10px;
}

/* .icon-search{
  width: 50px;
} */

.navbar-nav ul {
  list-style: none;
  display: flex;
  text-decoration: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline: 0px;
  cursor: pointer;
}
.navbar-nav li {
  padding: 20px;
  text-transform: capitalize;
  border-bottom: 2px solid #d8d8d8;
  transition: 0.3s;
}

.navbar-nav li:hover {
  border-bottom: 2px solid #aeaeae;
  background: #80808012;
}

.navbar-nav a {
  /* margin: 0 10px 0 10px; */
  text-decoration: none;
  /* padding: 30px; */
}

.navbar-extra {
  display: flex;
}

main{
  padding-top: 10rem;
}

article {
  width: 100%;
  max-width: 800px;
  margin: auto;
  /* margin-top: 10rem; */
}